<!-- Created by Adam Simcoe - 101442161 -->
<!-- Last Updated - April 1st 2025 -->

<!-- Logout button -->
 <div class="logout-container">
    <button (click)="logout()" class="logout">Logout</button>
 </div>


<h2>Employee List</h2>

<div class="employee-container">
    <!-- Search Employees by Department/Designation -->
    <div class="search-bar">
        <input type="text" placeholder="Department" [(ngModel)]="searchDepartment">
        <input type="text" placeholder="Designation" [(ngModel)]="searchDesignation">

        <button (click)="onSearch()" class="search">Search</button>
        <button (click)="clearSearch()" class="clear">Clear</button>
    </div>

    <!-- Employee List -->
    <table *ngIf="employees$ | async as employees">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th class="action-th">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{ emp.first_name }}</td>
                <td>{{ emp.last_name }}</td>
                <td>{{ emp.department }}</td>
                <td>{{ emp.designation }}</td>
                <td class="action-buttons">
                    <!-- Button Navigation for specific employee id-->
                    <button [routerLink]="['/employees', emp._id]" class="details">Details</button>
                    <button [routerLink]="['/employees/update', emp._id]" class="update">Update</button>
                    <button (click)="confirmDelete(emp._id)" class="delete">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- No employees found display -->
    <div *ngIf="(employees$ | async)?.length === 0" class="missing-employees">
        
        <p *ngIf="searchDepartment || searchDesignation">
            No employees matched your search, please try again.
        </p>

        <p *ngIf="!searchDepartment && !searchDesignation">
            No employees found.
        </p>

        <button (click)="fetchEmployees()" class="add">Refresh</button>
    </div>

    <!-- Add Employee -->
    <button routerLink="/employees/add" class="add">Add Employee</button>
    
</div>


